/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

 @-moz-keyframes pulse{
 	0%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 	50%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=25);opacity:0.25}
 	100%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 }
 @-webkit-keyframes pulse{
 	0%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 	50%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=25);opacity:0.25}
 	100%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 }
 @-o-keyframes pulse{
 	0%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 	50%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=25);opacity:0.25}
 	100%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 }
 @keyframes pulse{
 	0%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 	50%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=25);opacity:0.25}
 	100%{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0}
 }

@import "bootstrap";
@import "responsive";
#map {
	position:absolute;
	top:50px;
	left:0;
	right:0;
	bottom:0;
	border:1px solid black;
	@media(min-width:980px){
		top:40px;
	}
}
.navbar {
	z-index:100
}
#container {
	margin-top:50px;
}
.concept{
	background-color:#369;
	border:none;
	color:#FFF;
}
.marker {
	position:absolute;
}
.brewery {
	border:2px solid blue;
	width:10px;
	height:10px;
	.tooltip {
		display:none;
		background-color:white;
		z-index:99999;
		position:absolute;
		top:0px;
		left:10px;
		opacity:1;
		padding:5px 10px;
		font-size:15px;
	}
}
.userLocation {
	background-color: #00555f;
	height: 8px;
	width: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	cursor: -webkit-grab;
	div {
		background-color: #13a1af;
		border: 1px solid #00555f;
		content: '';
		height: 25px;
		position: absolute;
		width: 25px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		-ms-border-radius: 16px;
		-o-border-radius: 16px;
		border-radius: 16px;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
		opacity: .25;
		-moz-animation: pulse 3000ms infinite ease-in-out;
		-o-animation: pulse 3000ms infinite ease-in-out;
		-webkit-animation: pulse 3000ms infinite ease-in-out;
		animation: pulse 3000ms infinite ease-in-out;
		top:-9px;
		left:-9px;
	}
}